.dashboard-header__back {
  position: relative;
  top: -5px;
  font-size: 20px;
}

.url_drillDowns {
    display: none;
    outline: none !important;

  & i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background-image: url("./common/icons/urlDDCursor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 2px;
    margin-bottom: -1px;
    transition: 0.3s;

    &:hover {
      filter: invert(0.9) hue-rotate(180deg) brightness(0.6);
    }
  }

  &:focus {
    outline: none;
    outline-offset: 0;
    filter: invert(0.9) hue-rotate(180deg) brightness(0.6);
  }
}
